body {
  background-color: rgb(0, 0, 205);
}

#main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 0 1em;
  min-height: 41.1rem;
}

.score {
  grid-column: 1 / -1;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 7rem;
  color: white;
}

#categories {
  background-color: rgb(48, 136, 198);
  font-size: larger;
  border-radius: 10px;
  text-indent: 0.5rem;
  width: 10rem;
  height: 2rem;
}

.progress {
  display: flex;
  align-items: center;
  gap: 3rem;
}

progress {
  width: 10rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}

#quizField {
  background-color: rgb(48, 136, 198);
  padding: 1em 4em;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hintField {
  background-image: url('../images/quiz-time.gif');
  background-size: 100% 100%;
  min-height: 35rem;
}