.page_header {
    height: 6rem;
    background-color: rgb(0, 0, 105);
    color: red;
    display: grid;
    place-items: center;
    position: relative;
}

.page_header h1 {
    position: absolute;
    left: 2%;
    animation-name: title;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transition: all ease-out;
}

@keyframes title {
    25%{
        left: 30%;
        color: rgb(0, 0, 255);
    }
    50%{
        left: 60%;
        color: orange;
    }
    75%{
        left: 90%;
        color: rgb(0, 255, 0);
    }
}