html {
    font-size: 62.5%;
}


.page_header {
    height: 6rem;
    background-color: rgb(0, 0, 105);
    color: red;
    display: grid;
    place-items: center;
    position: relative;
}


/*@keyframes title {
    25%{
        left: 30%;
        color: rgb(0, 0, 255);
    }
    50%{
        left: 60%;
        color: orange;
    }
    75%{
        left: 90%;
        color: rgb(0, 255, 0);
    }
} */