.page_header {
    height: 6rem;
    background-color: rgb(31, 15, 76);
    color: rgb(70, 237, 249);
    display: grid;
    place-items: center;
    position: relative;
    box-shadow: 0.1rem 1rem 1rem -1rem rgb(247, 0, 255);
    /* border-bottom: 0.1rem solid rgb(247, 0, 255); */
}


/*@keyframes title {
    25%{
        left: 30%;
        color: rgb(0, 0, 255);
    }
    50%{
        left: 60%;
        color: orange;
    }
    75%{
        left: 90%;
        color: rgb(0, 255, 0);
    }
} */