.quizField {
    margin: 1rem 0;
    border-bottom: 2px solid white;
}

.quizField span:first-child {
    color: blue;
}

.li {
    margin: 1.5rem 0;
    cursor: pointer;
    padding: 0.2em 0.4em;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 10px;
}

.li:hover {
    background-color: white;
}

.btn {
    width: fit-content;
    height: 2rem;
    padding: 0.5em;
    margin-right: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.8;
    color: green;
}

.btn:disabled {
    opacity: 1;
    color: gray;
}