.quizField {
    margin: 5rem 0;
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
}

.question {
    max-width: 75%;
}

.li {
    margin: 1rem 0;
    cursor: pointer;
    width: fit-content;
    padding: 1em;
    font-size: 1.5rem;
    max-width: 75%;
}

.li:hover {
    background-color: white;
}

li button {
    border: none;
    background: transparent;
}