:root {
  --animationTime: 5s;
  --animationZero: 1%;
  --animationOne: 25%;
  --animationTwo: 55%;
  --animationThree: 80%;
}
@font-face {
  font-family: 'Beon Medium';
  font-style: normal;
  font-weight: 9000;
  src: local('Beon Medium'), url('../../beon/beon-webfont.eot') format('woff');
  }

.title {
  font-size: 3rem;
  font-family: "Beon Medium";

  /* -webkit-text-stroke: 0.01px rgb(35, 65, 73); */
  position: absolute;
  left: 1%;
  margin: 0rem 1.5rem;

  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title:hover {
  text-shadow: 1rem 1rem 1rem rgb(247, 0, 255), 0 0 1rem rgb(247, 0, 255), 0 0 0.2rem rgb(247, 0, 255);;
  cursor: pointer;
  border-bottom: 0.3rem solid rgb(247, 0, 255);
}

@keyframes title1 {
  0% {
    left: var(--animationZero);
  }
  100% {
    left: var(--animationOne);
  }
}

@keyframes title2 {
  0% {
    left: var(--animationOne);
  }
  100% {
    left: var(--animationTwo);
  }
}
@keyframes title3 {
  0% {
    left: var(--animationTwo);
  }
  100% {
    left: var(--animationThree);
  }
}

@keyframes title4 {
  0% {
    left: var(--animationThree);
  }
  100% {
    left: var(--animationZero);
  }
}

.title[animation="1"] {
  animation-name: title1;
  pointer-events: none;
}
.title[animation="2"] {
  left: var(--animationOne);
}
.title[animation="3"] {
  animation-name: title2;
  pointer-events: none;
}
.title[animation="4"] {
  left: var(--animationTwo);
}
.title[animation="5"] {
  animation-name: title3;
  pointer-events: none;
}
.title[animation="6"] {
  left: var(--animationThree);
}
.title[animation="7"] {
  animation-name: title4;
  pointer-events: none;
}
.title[animation="8"] {
  left: var(--animationZero);
}
